.resume-container {
  display: flex;
  width: 1200px;
  margin: auto;
}

.container-side {
  background-color: #163853;
  width: 350px;
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
}

.container-main {
  color: #163853;
  width: 850px;
  background-color: whitesmoke;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 35px;
}

.sidebar-header {
  color: white;
  width: 300px;
  border-bottom: 1px solid white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 28px;
}

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 2.5px;
  width: 275px;
}

.contact-list-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-icon {
  color: white;
  font-size: 24px;
}

.contact-method {
  color: white;
  margin-bottom: 0;
}

.links {
  text-decoration: none;
}

.technical-skills {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technical-skills-list {
  color: white;
  width: 275px;
  display: flex;
  flex-direction: column;
  list-style: circle;
  gap: 2.5px;
}

.education {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education-list-div {
  width: 275px;
  display: flex;
  flex-direction: column;
}

.education-info {
  margin-bottom: 5px;
}

.education-list {
  color: white;
  list-style: circle;
  display: flex;
  flex-direction: column;
  width: 275px;
  font-size: 18px;
}

.skills {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.skills-list {
  color: white;
  list-style: circle;
  width: 275px;
}

.title {
  font-weight: bold;
  padding-top: 35px;
  display: block;
  width: 850px;
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 50px;
  margin-bottom: 20px;
}

.heading-titles {
  border-bottom: 1.5px solid #163853;
  width: 700px;
  text-align: center;
  letter-spacing: 1.5px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 32px;
}

.work-experience-container {
  width: 700px;
}

.work-info-list {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 25px;
  margin-bottom: 5px;
}

.profile-content {
  width: 700px;
  text-align: center;
}

.work-description {
  list-style: circle;
  width: 700px;
}

.links-main {
  color: #163853;
  text-decoration: none;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    margin: 0;
  }

  .resume-container {
    height: 100vh;
  }
}
