.resume-container {
  display: flex;
  width: 1000px;
  margin: auto;
  align-items: stretch;
}

.container-side {
  background-color: #163853;
  width: 300px;
  margin-bottom: 0;
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-main {
  color: #163853;
  width: 700px;
  background-color: whitesmoke;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 35px;
  margin-bottom: 15px;
}

.side-container-header-1:after {
  content: "Contact";
  color: white;
  display: block;
  width: 250px;
  border-bottom: 1px solid white;
  text-align: center;
  margin: auto;
}

.side-container-header-2:after {
  content: "Languages";
  color: white;
  display: block;
  width: 250px;
  border-bottom: 1px solid white;
  text-align: center;
  margin: auto;
}

.side-container-header-3:after {
  content: "Education";
  color: white;
  display: block;
  width: 250px;
  border-bottom: 1px solid white;
  text-align: center;
  margin: auto;
}

.side-container-header-4:after {
  content: "Skills";
  color: white;
  display: block;
  width: 250px;
  border-bottom: 1px solid white;
  text-align: center;
  margin: auto;
}

.contact {
  color: white;
}

.contact-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  line-height: 30px;
  font-family: "EB Garamond", serif;
}

.contact-list-item {
  display: flex;
  align-items: center;
  padding-left: 50px;
  gap: 10px;
}

.contact-icon {
  color: white;
  font-size: 24px;
}

.contact-method {
  color: white;
  margin-bottom: 0;
}

.links {
  text-decoration: none;
}

.languages {
  color: white;
}

.languages-list {
  color: white;
  list-style: circle;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 70px;
  line-height: 25px;
}

.education {
  color: white;
  display: flex;
  flex-direction: column;
}

.education-info {
  width: 225px;
  margin: auto;
}

.education-list {
  display: block;
  color: white;
  list-style: circle;
  padding-left: 70px;
  margin-bottom: 25px;
  line-height: 25px;
}

.skills {
  color: white;
}

.skills-list {
  display: block;
  list-style: circle;
  width: 300px;
  padding-left: 70px;
  line-height: 25px;
}

.title {
  font-weight: bold;
  padding-top: 50px;
  display: block;
  width: 100%;
  text-align: center;
  letter-spacing: 2.5px;
}

.heading-titles {
  border-bottom: 1.5px solid #163853;
  width: 600px;
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
}

.work-experience-container {
  width: 600px;
}

.work-info-list {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 25px;
  margin-bottom: 5px;
}

.profile-content {
  width: 600px;
  text-align: center;
}

.work-description {
  list-style: circle;
  width: 600px;
}

.links-main {
  color: #163853;
  text-decoration: none;
}

@media print {
  @page {
    margin: 0;
  }
}
